.git
.gitignore
.venv
venv
__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
**/.ipynb_checkpoints
**/.Trash-*
.env
.env.*
!.env.example
datasets/
deprecated/
notebooks/scanned_ecgs/
notebooks/*.html
test.py
*.log
.DS_Store
.idea
.vscode
